// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// font-awesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// datepicker
@import 'datepicker';

// rebootstrap
@import 'rebootstrap';

body
{
    font-size: 16px;
}

aside{
    min-height: 100vh;
    //background-image: linear-gradient(180deg, #EB3349, #F45C43);
    background-color: #800080;
    padding-left: 0 !important;
    padding-right: 0 !important;

    
    h2{
        color: orange;
        font-family: Gabriola;
        padding: 10px;
        margin: 0 auto;
    }
    hr{
        border-top-color: #FFF;
        width: 100%;
    }
    a{
        color: #DDD;
        margin : 0 10px !important;
        &:hover
        {
            color: #FFF;
        }
        .nav-link
        {
            .active{
                background-color: none !important;
                color: #F00;
            }
        }
    }
    
}
